<!DOCTYPE html>
<meta charset="utf-8">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
</head>
<style>

    h4 {
    margin-top: 25px;
    }
    .row {
    margin-bottom: 20px;
    }
    .row .row {
    margin-top: 10px;
    margin-bottom: 0;
    }


    hr {
    margin-top: 40px;
    margin-bottom: 40px;
    }


</style>
<body>
<div class="container">

    <div class="page-header">
        <h1>Garage Butler</h1>
    </div>

    <p class="lead">Status
        {% if status.event == 'door opened' %}
            <span class="text-danger">Open</span>
        {% endif %}
        {% if status.event == 'door closed' %}
            <span class="text-primary">Closed</span>
        {% endif %}
    </p>

    {% for event in events %}
    <div class="row">
        <div class="col-md-12">
            {{ event.event }} - {{event.dt}}
        </div>
    </div>
    {% endfor %}

    <p class="lead">
        <a onclick="toggle(this)" class="btn btn-primary " role="button">Toggle Switch</a>
        <br/>
        <a href="/" class="btn btn-primary btn-xs" role="button">Refresh</a>
        <a href="/logs" class="btn btn-primary btn-xs" role="button">View Logs</a>
    </p>


</div>
</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/qwest/4.4.2/qwest.min.js"></script>
<script>

    function toggle(link){
        console.log(link);
        link.onclick = null;
        qwest.post('/toggle', {
            toggle: 'true'
         })
         .then(function(xhr, response) {
            console.log(response)
         })
         .catch(function(e, xhr, response) {
            console.log("error" + response)
         });
    }

</script>