<!DOCTYPE html>
<meta charset="utf-8">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/favicon.png">
</head>
<style>

    h4 {
    margin-top: 25px;
    }
    .row {
    margin-bottom: 20px;
    }
    .row .row {
    margin-top: 10px;
    margin-bottom: 0;
    }


    hr {
    margin-top: 40px;
    margin-bottom: 40px;
    }


</style>
<body>
<div class="container">

    <div class="page-header">
        <h1>Garage Butler</h1>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2>Status
                {% if status.event == 'door opened' %}
                <span class="text-danger">Open</span>
                {% endif %}
                {% if status.event == 'door closed' %}
                <span class="text-primary">Closed</span>
                {% endif %}
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <a onclick="toggle(this)" class="btn btn-primary btn-lg" role="button" style="width: 100%;">Toggle
                Switch</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <a href="/" class="btn btn-primary" role="button" style="width: 100%;">Refresh</a>
        </div>
        <div class="col-xs-6">
            <a href="/logs" class="btn btn-primary" role="button" style="width: 100%;">View Logs</a>

        </div>
    </div>

    {% for event in events %}
    <div class="row">
        <div class="col-xs-12">
            <h3>{{ event.event }} {{event.dt | time_delta}} ago</h3>
        </div>
    </div>
    {% endfor %}


</div>
</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/qwest/4.4.2/qwest.min.js"></script>
<script>

    function toggle(link){
        console.log(link);
        link.onclick = null;
        qwest.post('/toggle', {
            toggle: 'true'
         })
         .then(function(xhr, response) {
            console.log(response)
         })
         .catch(function(e, xhr, response) {
            console.log("error" + response)
         });
    }




</script>